@import url('https://fonts.googleapis.com/css2?family=GFS+Didot&family=Lato:wght@900&display=swap');

 h1, h2, h3, h4, h5, h6{
  font-family: 'Lato', sans-serif;
  color: white;
}

p{
  font-family: 'GFS Didot', serif;
  font-size: 20px;
  color: white;
}

.app {
  background-color: #212529;
  height: 115vh;
  color: white;
}