body{
  background-color: blue;
}
img{
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

h2{
  text-align: center;
  color: orchid;
}

p{
  text-align: center;
  color: greenyellow;
}

.Employee {
  border: 1px solid black;
}